

/* ------- from simple.css ------------ */

@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
/*********************************************
 * GLOBAL STYLES
 *********************************************/

.reveal {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: normal;
}

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  font-family: "News Cycle", Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/* ------------------- */
.reveal section img {
    margin: 15px 15px;
    background: none;
    border: none;
    box-shadow: none;
    */
}

h2.title4 {
font-size: 70%; 
color: #FFFFFF ; /*#CC4040;*/
}

/*  **************** */

.occ-line {
  fill: steelblue;
  stroke: steelblue;
  opacity: 0.8; 
  stroke-width: 2.5px;
}

/* ****************  */
.bar:hover, .rects:hover{
  fill: brown;
}
.axis {
  font: 12px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #86C2FF; /*#07FF53;*/
  stroke-width: 1.5px;
  /* shape-rendering: crispEdges;*/
}
.tick line{
    opacity: 0.2;
  }

.tick text {
	fill: #E84646;
}
.axis text {
	fill: #82C5FF; /*#E13F40;*/

}

.lines.level-1 {
  stroke: #A24555; 
}
.lines.level-2 {
  stroke: #5D5DFB; 
}
.lines.level-3 {
  stroke: #A76A78; 
}
.lines {
  stroke-width: 6px;
}

/* ********* */

button  {
  color: black; 
  font-size: 12px; ; 
  margin: 0; 
  background: #6699FF;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*  **************** */

.pos-img {
	position:absolute; 
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	left:0; right: 0;  top:50px;
}
.pos-img-2 {
	position:absolute; 
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	left:0; right: 0;
}

ol.conclusion {
	font-size: 27px;
}

.reveal small a{
    vertical-align: text-bottom;
}
